@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

@font-face {
    font-family: Coolvetica;
    src: url("../fonts/coolvetica.ttf");
}

@media screen and (max-width: 600px) {
    a.navbar-brand {
        position: relative;
    }
    div.section1 {
        height: 490px;
    }
    h1.introNadpis {
        font-size: 42px;
    }
    p.introText {
        font-size: 16px;
    }
    p.text3 {
        font-size: 15px;
    }
    p.text4 {
        font-size: 13px;
    }
    p.text5 {
        font-size: 11px;
    }

    div.s6subsection2 {
        padding: 70px 50px;
    }
    .s6subsection2 > header > h1 {
        font-size: 42px;
    }
}

:root {
    --clr-dblue: #28367B;
    --clr-lblue: #616EB1;
    --clr-green: #B6CD1E;
    --clr-white: #FFFFFF;
    --clr-grey: #616161;
    --clr-black: #000000;
    --clr-silver: #F5F2F2;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
}

header {
    z-index: 1;
}

h1 {
    font-family: 'Coolvetica', sans-serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 118%;
    letter-spacing: 1px;

    color: var(--clr-green);  
}

h2 {
    font-family: 'Coolvetica', sans-serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
    z-index: 1;

    color: var(--clr-dblue);
    padding-bottom: 30px;
    margin: 0;
}

h3 {
    font-size: 18px;
    line-height: 133%;

    color: var(--clr-dblue);
    margin-bottom: 10px;
}

.text1 {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.1px;

    color: var(--clr-grey);
}

.text2 {
    font-size: 16px;
    line-height: 150%;

    color: var(--clr-black);
}

.text3 {
    font-size: 18px;
    line-height: 156%;
    text-align: center;

    color: var(--clr-black);
}

.text4 {
    font-size: 16px;
    line-height: 150%;
    text-align: center;

    color: var(--clr-white);
}

.text5 {
    font-size: 14px;

    display: flex;
    align-items: center;
    color: var(--clr-white);
}

.text6 {
    font-size: 12px;
    text-align: center;

    color: var(--clr-white);
}

.bgSection1 {
    background-image: linear-gradient(var(--clr-dblue), var(--clr-lblue));
}

.navbar {
    margin: 0 9vw;
    background: var(--clr-white);
    box-shadow: 0px 0px 24px rgba(40, 54, 123, 0.08);
    border-radius: 50px;
    position: relative;
}

.navbar-brand {
    position: absolute;
}

.navbar-toggler {
    color: var(--clr-dblue);
    font-size: 28px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    white-space: nowrap;
    
    color: var(--clr-dblue);
}

.introNadpis {
    margin: 0 0 30px;
}

.introText {
    max-width: 390px;
    margin: 0;
    margin-bottom: 30px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.2px;

    color: var(--clr-white);
}

.introButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 23px;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 137%;
    text-align: center;
    color: var(--clr-white);

    background-color: var(--clr-green);
    border-radius: 100px;
    border: 0px;
}

#introImg {
    position: relative;
    min-width: 490px;
    min-height: 430px;
}

#elipse1 {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
}

#elipse2 {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
}

#hand {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 48px;
}

section {
    padding: 70px 9vw;
}



.s2subsection1 {
    padding-top: 60px;
    border-top: 1px solid var(--clr-silver);
}

.s2sub1group {
    max-width: 245px;
}

.s2sub1groupImg {
    padding-bottom: 20px;
}

#section3 {
    padding-bottom: 40px;
    background-color: rgba(182, 205, 30, 0.05);
}

.s3subsection1 {
    border-top: 1px solid var(--clr-silver);
    padding-top: 70px;
}

.s3sub3field {
    max-width: 370px;
    padding: 0 15px 30px;
    margin: 0 auto;
}

.s3sub3img {
    text-align: center;
    padding-bottom: 30px;
}

.s4subsection1 {
    border-top: 1px solid var(--clr-silver);
    padding-top: 70px;
    z-index: 1;
}

.s4subsection2 {
    z-index: 1;
    max-width: 600px;
}

.s4subsection3 {
    position: relative;
    padding-left: 90px;
}

#phone {
    position: absolute;
    bottom: 50px;
    z-index: 1;
}

#ellipse3 {
    z-index: 0;
}

#bgE1 {
    position: absolute;
    z-index: 0;
    top: 145px;
    right: 0;
}

#bgE2 {
    position: absolute;
    right: 135px;
    bottom: 20px;
}

.s5subsection1 {
    border-top: 1px solid var(--clr-silver);
    z-index: 1;
}

.s5subsection2 {
    position: relative;
}

#okHand {
    position: absolute;
    bottom: -10px;
    left: 60px;
    z-index: 1;
}

#ellipse4 {
    z-index: 0;
}

.s5subsection3 {
    padding-top: 70px;
    max-width: 600px;
}

#bgE3 {
    position: absolute;
    z-index: 0;
    top: 80px;
    left: 0;
}

#bgE4 {
    position: absolute;
    bottom: 30px;
    left: 60px;
    z-index: 0;
}

.s6subsection1 {
    background-color: var(--clr-white);
    box-shadow: 0px 0px 24px rgba(40, 54, 123, 0.08);
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.s6subsection2 {
    z-index: 1;
    max-width: 654px;
    padding: 70px;
}

.s6subsection2 > header > h1 {
    color: var(--clr-dblue);
}

#handSnap {
    position: absolute;
    right: 15%;
    bottom: 0;
    z-index: 1;
}

#cardE1 {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    border-top-left-radius: 20px;
}

#cardE2 {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    border-top-right-radius: 20px;
}

#cardE3 {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 30%;
}

.footer {
    background-color: var(--clr-dblue);
}

.tymbeLogo {
    display: flex;
    padding: 10px 12px;
    background-color: var(--clr-white);
    border-radius: 100px;
}

#navbar2 {
    padding: 10px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.footersubsection {
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
}

.footerContact {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    max-width: fit-content;
}

.icon {
    color: var(--clr-white);
}

.icon:hover {
    color: initial;
    text-decoration: none;
}